<nav role="navigation" aria-label="Main Navigation">
  <ul>
    <li><a href="/now/">Now</a></li>
    <li><a href="/articles/">Writing</a></li>
    <li><a href="/links/">Links</a></li>
    <li><a href="/shengxiao/">生肖</a></li>
    <li><a href="/print-to-web/index.html">Print to Web</a></li>
    <li><a href="/100-layouts/index.html">100 Layouts</a></li>
  </ul>
</nav>
