
.l-chinese-horoscope article {
  margin-bottom: var(--spacing-medium);
  border-bottom: 1px dotted silver;
}

.l-chinese-horoscope article h1 {
  margin-bottom: var(--spacing-small);
}

.l-chinese-horoscope .h-feed .standfirst {
  margin-top: 0;
  font-size: var(--font-size-xx-large);
}

@media (min-width: 48em) {
  .l-chinese-horoscope .svg-container .svg {
    width: 30vw;
  }

  .l-chinese-horoscope article svg {
    width: 30vw;
  }
}


.anime-tiger {
  float: right;
  margin: 2em 0 3em 2em;
  shape-margin: 1em;
  shape-outside: url(/assets/vectors/tiger.svg);
}


.anime-tiger svg {
  width: 125px;
  transform: rotate(16deg);
  animation: tiger-head 3s ease;
}

@media (min-width: 48em) {
  .anime-tiger svg {
    width: 400px;
  }
}

@keyframes tiger-head {
  from {
    transform: scale(0.4) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(16deg);
  }
}
